# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Environnements virtuels
.venv
env/
venv/
ENV/

# Fichiers IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Fichiers système
.DS_Store
Thumbs.db
